html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
  Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.logo {
  font-size: 1.5rem;
  color: white;
}

.login-form .ant-form-item-explain-error {
  display: none;
}

.login-form .ant-form-inline .ant-form-item-with-help {
  margin-bottom: 0;
}

.count {
  padding-top: 10px;
}
